EA 1: Parte 1 del proyecto integrador - Ingestión de Datos desde un API _ Jimy Mora y ELizabeth Alzate

In [1]:
#Importamos las librerías
import requests
import pandas as pd
import sqlite3

In [2]:
#Conexión a la API
url = 'https://api.openbrewerydb.org/v1/breweries'
response = requests.get(url)
data = response.json()

In [3]:
# Convertimos los datos a un DataFrame de Pandas
df = pd.DataFrame(data)
print(df.head())

                                     id                     name brewery_type  \
0  5128df48-79fc-4f0f-8b52-d06be54d0cec         (405) Brewing Co        micro
1  9c5a66c8-cc13-416f-a5d9-0a769c87d318         (512) Brewing Co        micro
2  34e8c68b-6146-453f-a4b9-1f6cd99a5ada  1 of Us Brewing Company        micro
3  6d14b220-8926-4521-8d19-b98a2d6ec3db     10 Barrel Brewing Co        large
4  e2e78bd8-80ff-4a61-a65c-3bfbd9d76ce2     10 Barrel Brewing Co        large

                     address_1 address_2 address_3            city  \
0               1716 Topeka St      None      None          Norman
1        407 Radam Ln Ste F200      None      None          Austin
2          8100 Washington Ave      None      None  Mount Pleasant
3                62970 18th St      None      None            Bend
4  1135 NW Galveston Ave Ste B      None      None            Bend

  state_province postal_code        country           longitude  \
0       Oklahoma  73069-8224  United States        -97.46818222
1          Texas  78745-1197  United States                None
2      Wisconsin  53406-3920  United States  -87.88336350209435
3         Oregon  97701-9847  United States         -121.281706
4         Oregon  97703-2465  United States        -121.3288021

            latitude       phone                   website_url      state  \
0        35.25738891  4058160490     http://www.405brewing.com   Oklahoma
1               None  5129211545     http://www.512brewing.com      Texas
2  42.72010826899558  2624847553  https://www.1ofusbrewing.com  Wisconsin
3        44.08683531  5415851007       http://www.10barrel.com     Oregon
4         44.0575649  5415851007                          None     Oregon

                        street
0               1716 Topeka St
1        407 Radam Ln Ste F200
2          8100 Washington Ave
3                62970 18th St
4  1135 NW Galveston Ave Ste B

In [4]:
# Crear la conexión a la base de datos SQLite
conn = sqlite3.connect('brewery.db')
cursor = conn.cursor()

In [5]:
# Creamos la tabla 'breweries' con las columnas especificadas
cursor.execute('''
    CREATE TABLE IF NOT EXISTS breweries (
        id TEXT PRIMARY KEY,
        name TEXT,
        brewery_type TEXT,
        address_1 TEXT,
        address_2 TEXT,
        address_3 TEXT,
        city TEXT,
        state_province TEXT,
        postal_code TEXT,
        country TEXT,
        longitude REAL,
        latitude REAL,
        phone TEXT,
        website_url TEXT,
        state TEXT,
        street TEXT
    )
''')

In [6]:
# Insertar los datos en la tabla 'breweries'
df.to_sql('breweries', conn, if_exists='replace', index=False)

50

In [7]:
# Cerramos la conexión a la base de datos
conn.close()

In [8]:
# Guardar los datos en un archivo CSV
df.to_csv('breweries_data.csv', index=False)

In [9]:
# Guardamos los datos en un archivo Excel
df.to_excel('breweries_data.xlsx', index=False)

In [10]:
# Mostramos mensaje de éxito
print("Datos almacenados en la base de datos y archivos generados exitosamente.")

Datos almacenados en la base de datos y archivos generados exitosamente.

Archivo de Auditoría

In [11]:
import pandas as pd
import sqlite3

# Conectar a la base de datos y leer los datos almacenados
conn = sqlite3.connect('brewery.db')
stored_data = pd.read_sql('SELECT * FROM breweries', conn)

# Comparar los datos
diferencias = pd.concat([df, stored_data]).drop_duplicates(keep=False)

# Guardar el archivo de auditoría
with open('auditoria.txt', 'w') as file:
    file.write(diferencias.to_string())

conn.close()

# Mostrar mensaje de éxito
print("Archivo de auditoría creado exitosamente.")

Archivo de auditoría creado exitosamente.